<header>
  <div class="container">
    <div class="header-body flex-between">

      <div class="logoandheaderbutton flex-between">
        <div class="logo">
          <h1 class="flex-center-all">
            <span class="1st">GHSRMS</span>
            <span class="2nd">ADMIN</span>
          </h1>
        </div>
        <div class="">
          <span  class="header-button d-none">
            <i class="fa-solid fa-bars"></i>
          </span>
        </div>
      </div>

      <nav>
        <ul class="flex-center-all">
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>
      </nav>


    </div>
  </div>
</header>