<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PORTAL</title>
</head>
<body>
    <h1>this is hasnain </h1>
    <img src="/myimg.jpg" alt="my image " width="300" height="300" ">
</body>
</html>