<%- include('components/top.ejs') %>


<main>
    <div class="container home-container flex">
      
      <section class="sidebar">
        <h3>Menu </h3>
        <span class="opensidebarbuton">
          <i class="fa-solid fa-bars"></i>
        </span>

        <ul>


          <li><a href="#" class="flex-center-all">
            <span class="sidebar-icon"><i class="fa-solid fa-circle-info"></i></span>
            <span class="sidebar-span">Instruction</span>
          </a></li>

          <li><a href="#" class="flex-center-all">
            <span class="sidebar-icon"><i class="fa-solid fa-pen-to-square"></i></span>
            <span class="sidebar-span">Classes</span>
          </a></li>

          <li><a href="#" class="flex-center-all">
            <span class="sidebar-icon"><i class="fa-solid fa-square-poll-vertical"></i></span>
            <span class="sidebar-span">All Result</span>
          </a></li>

          <li><a href="#" class="flex-center-all">
            <span class="sidebar-icon"><i class="fa-solid fa-user-graduate"></i></span>
            <span class="sidebar-span">Std DMC</span>
          </a></li>



        </ul>


      </section>

      <section class="main">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum vitae nulla quaerat fuga eligendi exercitationem cumque deserunt, assumenda consequuntur quibusdam ad alias molestias aperiam iure earum fugit tenetur, atque animi, eveniet nisi. Quo ipsam quos corrupti ab rem expedita atque ducimus facere eveniet neque itaque sequi, nostrum nisi praesentium similique soluta perspiciatis quas aperiam, cum harum! Quisquam suscipit, odit ullam, culpa temporibus exercitationem quaerat reiciendis praesentium consequuntur, qui libero quo expedita quibusdam nostrum veniam porro debitis totam placeat quas ut eius itaque obcaecati. Et, aliquid corporis neque nulla excepturi ad illo! Vitae veritatis vel sit hic odio impedit asperiores adipisci amet qui architecto tempora magnam iste, incidunt tenetur voluptates ad iure numquam culpa sed facilis! Tempora omnis praesentium veritatis molestias consectetur alias minus at inventore libero reprehenderit doloribus enim eius quis quidem magnam esse soluta, repudiandae incidunt veniam natus! A ad aperiam doloribus, fuga sit beatae. Voluptatum nobis itaque ab iure incidunt veritatis nihil, laudantium maiores minus? Reiciendis quasi voluptas commodi quos placeat magnam eum, expedita rem, reprehenderit quo, dolor unde sequi nobis aperiam. Nulla in dolorum modi illo quia a eos excepturi ab sapiente fugit adipisci minus odit veritatis inventore, minima mollitia illum exercitationem odio tempore natus! Odit sunt consectetur officiis deleniti, autem molestiae voluptatem optio minima magnam veniam? Culpa debitis numquam nam commodi natus voluptate neque sed perspiciatis quasi minus blanditiis animi autem nostrum, pariatur officiis iusto modi omnis doloribus! Adipisci veritatis aliquam asperiores voluptas. Quidem adipisci accusantium ullam voluptates veritatis minus repellendus ab provident, sapiente incidunt. Nobis quisquam sint voluptas doloremque laborum! Blanditiis ipsa repellendus consequatur hic nemo nihil excepturi optio tempora similique minus exercitationem ut numquam inventore nisi, dolore doloribus ducimus laborum libero impedit! Perspiciatis corporis accusamus totam, aliquid quisquam accusantium. Omnis cupiditate ad aspernatur aperiam iste. Reprehenderit sapiente voluptatem asperiores sequi omnis corrupti voluptatibus fuga!
      </section>



    </div>
</main>


<%- include('components/bottom.ejs') %> 