<%- include('components/top.ejs') %>


<main>
    <div class="container home-container flex">
      
      <!-- there is sidebar  -->
      <%- include('components/home/sidebar.ejs') %> 

      <section class="main">
        <!-- add the page main content here  -->
        
        <div class="w-full infopageinnerlinks flex-between">
          <a href="#">Add Result </a>
          <a href="#">Add Student</a>
          <a href="#">Settings</a>
        </div>


        <div class="instructions">
          <h1>Instructions </h1>

          <dl>
            <dt>signup</dt>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus excepturi atque doloremque, fugit soluta hic alias? Id, nihil sit a tempore optio excepturi aut distinctio at ratione repudiandae totam vitae?</dd>
            <dt>signup</dt>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus excepturi atque doloremque, fugit soluta hic alias? Id, nihil sit a tempore optio excepturi aut distinctio at ratione repudiandae totam vitae?</dd>
            <dt>signup</dt>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus excepturi atque doloremque, fugit soluta hic alias? Id, nihil sit a tempore optio excepturi aut distinctio at ratione repudiandae totam vitae?</dd>
            <dt>signup</dt>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus excepturi atque doloremque, fugit soluta hic alias? Id, nihil sit a tempore optio excepturi aut distinctio at ratione repudiandae totam vitae?</dd>
            <dt>signup</dt>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus excepturi atque doloremque, fugit soluta hic alias? Id, nihil sit a tempore optio excepturi aut distinctio at ratione repudiandae totam vitae?</dd>
          </dl>
          
        </div>

      </section>



    </div>
</main>


<%- include('components/bottom.ejs') %> 