<%- include('components/top.ejs') %>


<main>
    <div class="container home-container flex">
      
      <!-- there is sidebar  -->
      <%- include('components/home/sidebar.ejs') %> 

      <section class="main">
        <!-- add the page main content here  -->
         <h1>There is menu or direct links </h1>

<h1>second heading is for instructions </h1>
      </section>



    </div>
</main>


<%- include('components/bottom.ejs') %> 