<%- include('components/top.ejs') %>


<main class="login-page">
    <div class="container login-page-container">

        <div class="loginpagearea flex-center-all">

            <section class="login">

                <h1>Login </h1>
                <p> Access your personalized dashboard by logging in with your credentials to manage and view academic results seamlessly.</p>
                
                <% if(isFormErr){ %>
                    <span id="errMsg" style="width: 100%;  margin:1rem auto; background:#992a2a9a; color:white; padding:5px; display:block; border-radius:6px;">
                        <%= formError %>
                    </span>
                 <% } %>
               
                <form action="/appgh/auth/admin/login/" method="post" class="w-full" id="loginform" >


                    <div class="cnic input-block">
                        <label for="cnicInput"> <i class="fa-solid fa-id-badge"></i> CNIC# </label>
                        <input type="text" name="cnic" autocomplete="cnic" id="cnicInput" placeholder="Enter Your Cnic" required >
                        <small color="red" class="errmsg"></small>
                    </div>
                    
                    <br>
                    
                    <div class="password input-block">
                        <label for="passwordInput"> <i class="fa-solid fa-key"></i> Password</label>
                        <input type="password" name="password" autocomplete="password" id="passwordInput" placeholder="Password" required >
                        <small color="red" class="errmsg"></small>
                    </div>

                    <button id="submitLoginForm" type="button"> Login </button>

                </form>

            </section>

            <section class="login-links">
                <a href="#">Forget password </a>
                <a href="#">Not Have an Account </a>
                <a href="#">Privacy & Policy </a>
                <a href="#">Help </a>

            </section>  


        </div>

        <br><br><br>

    </div>
</main>

<script>


    window.addEventListener("load", e=>{
        if(document.getElementById("errMsg")){
            setTimeout(()=>{
                document.getElementById("errMsg").style.display = "none"
            }, 4000)
        }
    })


    const errMsgs = document.querySelectorAll(".errmsg");

    const cnic = document.getElementById("cnicInput"),
        password = document.getElementById("passwordInput"),
        button = document.getElementById("submitLoginForm");



    button.addEventListener("click", e=>{
        let success = false;
        if(cnic.value.length < 10){
            errMsgs[0].innerHTML = "CNIC is not valid "
            success = false
        }
        else{
            errMsgs[0].innerHTML = ""
            success = true
        }
        
        if(password.value.length<5){
            errMsgs[1].innerHTML = "Password must be atleast 8 characters"
            success = false
        }
        else{
            errMsgs[1].innerHTML = ""
            success = true
        }

        if(cnic.value.length<10 || password.value.length < 5){
            return;
        }
        else{
            return document.getElementById("loginform").submit()
        }
    })




    


</script>

<%- include('components/bottom.ejs') %>