<%- include('../components/top.ejs') %>

<main>
  <div class="container home-container flex">
    <!-- there is sidebar  -->
    <%- include('../components/home/sidebar.ejs') %>

    <section class="main">
      <!-- add the page main content here  -->
      <h1> in this page have all student result with search, list filters etc </h1>
    </section>
  </div>
</main>

<%- include('../components/bottom.ejs') %>
